services:
  mongo-db:
    image: mongo:latest
    container_name: mongo-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: chatapp
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: backend-container
    ports:
      - "4040:4040"
    env_file:
      - .env
    depends_on:
      - mongo-db
    environment:
      MONGO_URI: mongodb://mongo-db:27017/chatapp

volumes:
  mongo-data:


